* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

:root {
  --margin-left-right: 10%;

  --marginS: 30px;
  --fontH1S: 22px;
  --fontH2S: 16px;
  --fontPS: 14px;
  --fontBS: 11px;
  --font-posts-pS: 10px;
  --posts-posts-smallS: 8px;

  --marginM: 40px;
  --fontH1M: 24px;
  --fontH2M: 18px;
  --fontPM: 16px;
  --fontBM: 12px;
  --font-posts-pM: 11px;
  --posts-posts-smallM: 9px;

  --marginL: 60px;
  --fontH1L: 30px;
  --fontH2L: 20px;
  --fontPL: 20px;
  --fontBL: 13px;
  --font-posts-pL: 12px;
  --posts-posts-smallL: 10px;
}

header {
  position: relative;
  height: 100vh;
  max-height: 768px;
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("img/header.png");
}

header .transbox {
  width: 100%;
  height: 100%;
  background-color: rgba(231, 76, 60, 0.6);
}

header .textbox {
  position: absolute;
  top: 5%;
  left: var(--margin-left-right);
  right: var(--margin-left-right);
  font-family: 'Saira Condensed', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

header .logo {
  width: 150px;
}

header h1 {
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

header h2 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.9;
}

header button {
  margin-top: 15px;
  line-height: 32px;
  font-size: 10px;
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
  background-color: #3D3D47;
  border: none;
  border-radius: 20px;
}

header button i {
  padding-right: 10px;
}

header .phone {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

@media (orientation: portrait) and (min-width: 360px) {
  header h1 {
    margin-top: var(--marginS);
    font-size: var(--fontH1S);
  }

  header h2 {
    margin-top: var(--marginS);
    font-size: var(--fontH2S);
  }

  header button {
    margin-top: var(--marginS);
    font-size: var(--fontPS);
    line-height: calc(2 * var(--fontPS));
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header {
    height: 50vh;
  }

  header .textbox {
    right: 48%;
    text-align: left;
  }

  header h1 {
    margin-top: var(--marginM);
    font-size: var(--fontH1M);
  }

  header h2 {
    margin-top: var(--marginM);
    font-size: var(--fontH2M);
  }

  header button {
    margin-top: var(--marginM);
    font-size: var(--fontPM);
    line-height: calc(2 * var(--fontPM));
  }

  header .phone {
    width: 25%;
    transform: translate(50%, -50%);
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  header h1 {
    margin-top: var(--marginL);
    font-size: var(--fontH1L);
  }

  header h2 {
    margin-top: var(--marginL);
    font-size: var(--fontH2L);
  }

  header button {
    margin-top: var(--marginL);
    font-size: var(--fontPL);
    line-height: calc(2 * var(--fontPL));
  }
}

@media (orientation: landscape) {
  header .textbox {
    left: var(--margin-left-right);
    right: 48%;
    text-align: left;
  }

  header .phone {
    width: 25%;
    transform: translate(50%, -50%);
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  header h1 {
    margin-top: var(--marginS);
    font-size: var(--fontH1S);
  }

  header h2 {
    margin-top: var(--marginS);
    font-size: var(--fontH2S);
  }

  header button {
    margin-top: var(--marginS);
    font-size: var(--fontPS);
    line-height: calc(2 * var(--fontPS));
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header {
    height: 50vh;
  }

  header .textbox {
    text-align: left;
  }

  header h1 {
    margin-top: var(--marginM);
    font-size: var(--fontH1M);
  }

  header h2 {
    margin-top: var(--marginM);
    font-size: var(--fontH2M);
  }

  header button {
    margin-top: var(--marginM);
    font-size: var(--fontPM);
    line-height: calc(2 * var(--fontPM));
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  header h1 {
    margin-top: var(--marginL);
    font-size: var(--fontH1L);
  }

  header h2 {
    margin-top: var(--marginL);
    font-size: var(--fontH2L);
  }

  header button {
    margin-top: var(--marginL);
    font-size: var(--fontPL);
    line-height: calc(2 * var(--fontPL));
  }
}

@media (min-width: 1024px) {
  header button {
    cursor: pointer;
    transition: .3s;
  }

  header button:hover {
    background-color: #fff;
    color: #111;
  }
}


/* section 1 - features */

.features {
  max-width: 1920px;
  margin: 0 var(--margin-left-right);
  padding-top: 10%;
  text-align: center;
  color: #9A9A9A;
}

.features h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.features h2 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

.features p {
  font-family: 'Saira', sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin: 20px 0;
}

.features img {
  max-width: 120px;
  margin: 5px 0;
}

@media (min-width: 360px) {
  .features h1 {
    font-size: var(--fontH1S);
  }

  .features h2 {
    font-size: var(--fontH2S);
  }

  .features p {
    font-size: var(--fontPS);
  }
}

@media (min-width: 768px) {
  .features h1 {
    font-size: var(--fontH1M);
  }

  .features h2 {
    font-size: var(--fontH2M);
  }

  .features p {
    font-size: var(--fontPM);
  }

  .feature img {
    max-width: 150px;
  }
}

@media (min-width: 1024px) {
  /* .features {
    padding: 5% 2%;
  } */

  .feature {
    float: left;
    width: 33%;
    padding: 30px;
  }

  .features h1 {
    font-size: var(--fontH1L);
  }

  .features h2 {
    font-size: var(--fontPL);
  }

  .features p {
    font-size: 20px;
    line-height: 120%;
    padding: 0 10px;
  }
}


/* section 2 - pudding */
.pudding {
  position: relative;
  height: 100vh;
  max-height: 768px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #DEE4E4;

}

.pudding .transbox {
  width: 100%;
  height: 100%;
  background-image: url("img/clown.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pudding .textbox {
  position: absolute;
  bottom: 10%;
  left: var(--margin-left-right);
  right: var(--margin-left-right);
  font-family: 'Saira Condensed', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.pudding .logo {
  width: 150px;
}

.pudding span {
  color: rgb(231, 76, 60);
}

.pudding h1 {
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.pudding h2 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  opacity: 0.9;
}

.pudding button {
  margin-top: 15px;
  line-height: 32px;
  font-size: 10px;
  font-family: 'Saira', sans-serif;
  font-weight: 300;
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(231, 76, 60);
  border: none;
  border-radius: 20px;
}

@media (orientation: portrait) and (min-width: 360px) {
  .pudding h1 {
    margin-top: var(--marginS);
    font-size: var(--fontH1S);
  }

  .pudding h2 {
    margin-top: var(--marginS);
    font-size: var(--fontH2S);
  }

  .pudding button {
    margin-top: var(--marginS);
    font-size: var(--fontBS);
    line-height: calc(2 * var(--fontPS));
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .pudding {
    height: 50vh;
  }

  .pudding .textbox {
    left: var(--margin-left-right);
    right: 48%;
    text-align: left;
  }

  .pudding h1 {
    margin-top: var(--marginM);
    font-size: var(--fontH1M);
  }

  .pudding h2 {
    margin-top: var(--marginM);
    font-size: var(--fontH2M);
  }

  .pudding button {
    margin-top: var(--marginM);
    font-size: var(--fontBM);
    line-height: calc(2 * var(--fontPM));
  }

  .pudding .phone {
    width: 25%;
    transform: translate(50%, -50%);
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  .pudding h1 {
    margin-top: var(--marginL);
    font-size: var(--fontH1L);
  }

  .pudding h2 {
    margin-top: var(--marginL);
    font-size: var(--fontH2L);
  }

  .pudding button {
    margin-top: var(--marginL);
    font-size: var(--fontBL);
    line-height: calc(2 * var(--fontPL));
  }
}

@media (orientation: landscape) {
  .pudding .textbox {
    left: var(--margin-left-right);
    right: 48%;
    text-align: left;
  }

  .pudding .transbox {
    background-size: contain;
    background-position: right;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .pudding .textbox {
    top: 5%;
  }

  .pudding h1 {
    margin-top: var(--marginS);
    font-size: var(--fontH1S);
  }

  .pudding h2 {
    margin-top: var(--marginS);
    font-size: var(--fontH2S);
  }

  .pudding button {
    margin-top: var(--marginS);
    font-size: var(--fontBS);
    line-height: calc(2 * var(--fontPS));
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .pudding {
    height: 50vh;
  }

  .pudding .textbox {
    text-align: left;
  }

  .pudding h1 {
    margin-top: var(--marginM);
    font-size: var(--fontH1M);
  }

  .pudding h2 {
    margin-top: var(--marginM);
    font-size: var(--fontH2M);
  }

  .pudding button {
    margin-top: var(--marginM);
    font-size: var(--fontBM);
    line-height: calc(2 * var(--fontPM));
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  .pudding h1 {
    margin-top: var(--marginL);
    font-size: var(--fontH1L);
  }

  .pudding h2 {
    margin-top: var(--marginL);
    font-size: var(--fontH2L);
  }

  .pudding button {
    margin-top: var(--marginL);
    font-size: var(--fontBL);
    line-height: calc(2 * var(--fontPL));
  }
}

@media (min-width: 1024px) {
  .pudding button {
    cursor: pointer;
    transition: .3s;
  }

  .pudding button:hover {
    background-color: #fff;
    color: #111;
  }
}


/* section 3 - posts */

.posts {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 10%;
  background-color: #666;
}

.posts .logo {
  margin: 5% var(--margin-left-right) 2%;
}

.posts .textbox {
  margin: 0 var(--margin-left-right);
  font-family: 'Saira Condensed', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.posts .column {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 0;
}

.posts .column .title {
  width: 100%;
  padding: 10px;
}

.posts .post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts .rectangle {
  width: 25%;
  background-color: rgb(231, 76, 60);
}

.posts .post p {
  width: 70%;
}

.posts h2 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 14px;
}

.posts p {
  font-size: 12px;
  padding: 2px;
}

.posts .small {
  font-size: 10px;
}

.posts .about {
  font-style: italic;
  opacity: .8;
}

.posts img {
  max-width: 120px;
  margin: 5px 0;
}

@media (min-width: 360px) {
  .posts h2 {
    font-size: var(--fontH2S);
  }

  .posts p {
    font-size: var(--font-posts-pS);
  }

  .posts .small {
    font-size: var(--posts-posts-smallS);
  }
}

@media (min-width: 768px) {
  .posts h2 {
    font-size: var(--fontH2M);
  }

  .posts p {
    font-size: var(--font-posts-pM);
  }

  .posts .small {
    font-size: var(--posts-posts-smallM);
  }
}

@media (min-width: 1024px) {
  .posts .textbox {
    flex-direction: row;
  }

  .posts h2 {
    font-size: var(--fontH2L);
  }

  .posts p {
    font-size: var(--font-posts-pL);
  }

  .posts .small {
    font-size: var(--posts-posts-smallL);
  }
}

/* footer  */
footer {
  padding: 20px 0 5px 0;
  text-align: center;
  background-color: #DEE4E4;
  line-height: 20px;
}

footer img {
  width: 20px;
  margin: 0 0 -5px 10px;
  cursor: pointer;
}